.container{
    margin: 0px;
    padding:0px;
}
.thumbnail {
    margin: 0px;
    padding:0px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.caption {
    position: absolute;
    top: 0px;
    left: 175px;
    width: 100%;
    font-family: 'Oleo Script';
    font-size: 150px;
    color: white;
}
.firstimg {
    position: absolute;
}
.articleTitle {
  margin-top: 5%;
  
  font-size: 5vw;
  line-height: 1em;
  
  color: blue;
  margin-top: -40px; 
  padding-top: 4vw;
}
#icon-desc{
    font-size: 16px;
}

.icon{
    font-size: 40px;
}
.icon-bar {
    padding:1%;
    width: 80px;
    height:100%;
    top:0px;
    left:0px;
    bottom:0px;
    background-color: #555;
}
.icon-bar a {
    display: block;
    text-align: center;
    margin:0;
    padding: 16px;
    transition: all 0.3s ease; 
    color: white; 
    font-size: 36px; 
}

.icon-bar a:hover {
    background-color: #000; 
    text-decoration: none;
}
.bknd{
    padding:0px;
    margin-left: 150px;
}
.bknd2{
    padding:0px;
}
.active {
    background-color: #089cdb;
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
